<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.teamitc.com"><span class="glyphicon glyphicon-user"></span>TeamITC</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>TeamITC Apps<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">CRM:AdressBook</a></li>
            <li><a href="">CRM:Oppertunaties</a></li>
            <li><a href="">CRM:Pipeline</a></li>
            <li><a href="">CRM:Callflow</a></li>
            <li><a href="">CRM:Conference</a></li>
            <li class="divider"></li>
            <li><a href="">ADM:Purchasing</a></li>
            <li><a href="">ADM:Billing</a></li>
            <li><a href="">ADM:Procurement</a></li>
            <li><a href="">ADM:Stock</a></li>
            <li class="divider"></li>
            <li><a href="">PLN:Schedule</a></li>
            <li><a href="">PLN:Planning</a></li>
            <li><a href="">SVC:Service</a></li>
            <li class="divider"></li>
            <li><a href="">HR:Leave</a></li>
            <li><a href="">HR:Time</a></li>
            <li><a href="">HR:Expenses</a></li>
            <li class="divider"></li>
            <li><a href="">API:Connect</a></li>
            <li><a href="">SYS:Admin</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
